{{^hideGenerationTimestamp}}@javax.annotation.Generated(value = "{{generatorClass}}", comments = "Please do no edit this file manually. Regenerate model files from swagger definition files instead."){{/hideGenerationTimestamp}}